# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: PR check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  analyze_and_test:
    name: Analyze & test
    runs-on: macos-11
    timeout-minutes: 10

    steps:
      - uses: shaunco/ssh-agent@git-repo-mapping
        with:
          ssh-private-key: |
            ${{ secrets.M3_LIGHTMETER_IAP_KEY }}
          repo-mappings: |
            github.com/vodemn/m3_lightmeter_iap
            
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: '3.10.0'

      - name: Prepare flutter project
        run: |
          flutter --version
          flutter pub get
          flutter pub run intl_utils:generate

      - name: Analyze project source
        run: flutter analyze lib --fatal-infos

      - name: Run tests
        run: flutter test